<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="kafka-appender" packages="org.kafkalense">
    <Appenders>
        <Kafka name="kafka" topic="event">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>